

body {
	scroll-behavior: smooth;
	width: 100%;
	height: 100%;
}

#viewport {
	width: 100%;
	height: 100%;
}

#first-article {
	overflow-x: hidden;
	width: 100%;
	height: 70vh;
	min-height: 648px;
	background-color: #000;
	animation-name: firstArticleBackground;
	animation-duration: 30s;
	animation-fill-mode: both;
	animation-direction: alternate;
	transition: 30s;
}

@keyframes firstArticleBackground {
	0% {
		background-color: #000;
	}
	30% {
		background-color: #2f0000;
	}
	60% {
		background-color: #b4b40a;
	}
	100% {
		background-color: #10003f;
	}
}

.title-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.title-decoration-circles {
	width: 200px;
	height: 200px;
	background-color: #dde;
}

.title-decoration-circles-1 {
	border-radius: 50%;
	transform: translate(0,50%);
	z-index: 50;
	animation-name: titlePlatesCircles;
	animation-direction: normal;
	animation-iteration-count: infinite;
	animation-duration: 2s;
	animation-delay: 0;
	transition: 0;
}

.title-decoration-circles-2 {
	border-radius: 50%;
	transform: translate(0,-50%);
	z-index: 50;
	animation-name: titlePlatesCircles2;
	animation-direction: normal;
	animation-iteration-count: infinite;
	animation-duration: 2s;
	animation-delay: 0;
	transition: 0;
}

@keyframes titlePlatesCircles {
	0%{
		transform: translate(calc(90vw),50%);
	}
	100%{
		transform: translate(calc(-90vw),50%);
	}
}

@keyframes titlePlatesCircles2 {
	0%{
		transform: translate(calc(-90vw),-50%);
	}
	100%{
		transform: translate(calc(90vw),-50%);
	}
}

.title-plate {
	width: 100%;
	height: 40%;
	background: #000;
	z-index: 100;
	display: flex;
	justify-content: center;
	align-items: center;
}

.title-plate h1 {
	font-size: 4em;
	text-align: center;
	line-height: 0.79;
	position: absolute;
	color: #dde;
	user-select: none;
}

#second-article {
	width: 100%;
	height: auto;
	display: flex;
}

.whoami-container {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #000;
}

.whoami-title {
  width: 90%;
  margin: 0;
  padding: 50px 0 50px 0;
  text-align: center;
  color: #914;
  font-size: calc(100vw - 90vw);
}

.whoami-text {
	width: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.whoami-text-name {
	width: 100%;
	font-size: 20px;
	padding: 0 0 0 40px;
	color: #914
}

.whoami-text-name h3{
	margin: 0;
}

.whoami-text-subject {
	width: 100%;
	font-size: 25px;
	color: #f2f2ff;
	text-align: justify;
}

.whoami-text-subject p {
	margin: 20px 0 20px 0;
}







#third-article {
	background-color: #222;
	height: 100em;
}
